style.body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Got_milk.svg/1200px-Got_milk.svg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
